*{
margin: 0;
padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
  }

html{
    height: 100;
}

.container{
    background-color: white;
    align-self: center;
    display: flex;
    width: 475px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin: 0 auto ;
    position: relative;
}

.title{
    font-size:1.8rem ;
    font-weight: bold;
    padding: 30px,30px,30px;
    text-align: center;
    line-height: 43px;
    color: #511f50;
    z-index: 1;
}

.content{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: hsl(280, 1%, 57%);
    padding: 10px,30px,20px;
    line-height: 30px;
    z-index: 1;
}

.reviewblock{
    display: flex;
    justify-content: center;   
}

.review{
    background-color: #f2f7f8;
    width: 450px;
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    font-weight: bold;
    color: darkred;
    font-size: 1.3rem;
    margin: 30px 0;
    
}

.card{
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    background-color: #511f50;
    border-radius: 15px;
}

.userinfo{

    display: flex;
}

.image{
    width: 90px;
}
 
.image img{
    border-radius: 50%;
    width: 60px;
}

.card-username{
    
}

.card-username .username{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
    color: blanchedalmond;
    font-style: initial;
}

.card-username .user-addi-info{
    font-weight: 400;
    font-size: 1rem;
    color:magenta;
    line-height: 30px;
    text-shadow: #cf4aa6 0 0 1px;
}

.user-testmonial{
    font-size: 1.09rem;
    line-height: 30px;
    font-weight: 500;
    padding: 10px;
    color: #e7cee7;
}