*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.heading{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
    width: 23%;
    box-shadow: 0 0 4px 3px pink;
    text-align: center;
    padding: 1.5em;
    margin-bottom: 2em;
}

.images{
    width: 60%;
}
.title{
    font-size: 1.3rem;
}

.category, .price{
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;
    font-size: 1.2rem;
}
.btnclk{
    font-size: medium; 
    background-color:white;
     text-transform: capitalize;
     color: red; 
     
    
}
.cart{
    width: 1000px;
    height: 500px;
    border: 3px solid;
    margin: 0 auto;
    border-color:brown;
    text-align: center;
    
}